.history-chat {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.input-chat {
  min-height: 30px;
  width: 100%;
}

.chat {
  word-break: break-all;
}

.btn-edit {
  padding: 0 8px;
  border-radius: 4px;
  background-color: darkslateblue;
  float: right;
  color: white;
}

.modal {
  &.show {
    display: block;
  }
}
